<template>
  <div :class="['box', display]">
    <div class="imgBx">
      <img
        :src="url"
        :alt="alt"
        @click="vote(id)">
    </div>
    <div
      v-show="display == 'list'"
      class="content">
      <h2>{{ nbVote }}</h2>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      required: true
    },
    display: {
      type: String,
      default: 'vote'
    },
    alt: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    nbVote: {
      type: Number,
      required: true
    }
  },
  methods: {
    vote: function (id) {
      this.$store.dispatch('addVote', id)
      this.$router.push('result')
    }
  }
}
</script>

<style lang="scss" scoped>

  *{
    box-sizing: border-box;
  }
  .box {
    position: relative;
    width: 300px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21; /* Change */
    transition: .5s;
    cursor: pointer;
    &.list {
      display: block;
      float: left;
      width: 200px;
      height: 200px;
      .imgBx {
        height: 150px;
      }
    }
  }

  .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .box .imgBx img {
    max-width: 100%;
    height: 100%;
    opacity: 1;
    transition: .5s;
  }

  .box:hover .imgBx img {
    opacity: .8;
  }

  .box:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;

  }

  .box:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);

  }

  .box:before,
  .box:after   {
    background: linear-gradient(235deg, #2196f3, #010615, #F00000);
  }

  .box:nth-child(2):before,
  .box:nth-child(2):after   { /* not supported 😣 */
    background: linear-gradient(235deg, #2196f3, #010615, #F00000);
  }

  .box:nth-child(3):before,
  .box:nth-child(3):after   { /* not supported 😣 */
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
  }

  .box .content {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0px;
    height: 50px;
    background: rgba(0,0,0,.04);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.5s;
  }

  .box:hover .content {
    opacity: 1;
  }

  .box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

</style>
