<template>
  <div v-if="condidateList && condidateList.length === 2">
    <condidate
      :url="condidateList[0].url"
      :id="condidateList[0].id"
      :nbVote="condidateList[0].nbVote"
      alt="cat with id {condidateList[0].id}"/>
    <img src="/static/img/vs.png">
    <condidate
      :url="condidateList[1].url"
      :id="condidateList[1].id"
      :nbVote="condidateList[1].nbVote"
      alt="cat with id {condidateList[1].id}"/>
  </div>
</template>

<script>
import condidate from '@/components/atom/picture'
export default {
  components: {
    condidate
  },
  computed: {
    condidateList () {
      return [this.$store.state.listCats[0], this.$store.state.listCats[1]]
    }
  }
}
</script>
