<template>
  <div>
    <div v-if="$store.state.listCats.length > 0">
      <h2>Veuillez voter pour le chat le plus mignon !</h2>
      <badgetCondidate />
    </div>
    <div v-if="$store.state.listCats.length == 0">
      Loading ....
    </div>
  </div>
</template>

<script>
import badgetCondidate from '@/components/molecule/badget'
export default {
  components: {
    badgetCondidate
  }
}
</script>

<style scoped>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
</style>
