<template>
  <div>
    <h2>Classement des votes !</h2>
    <condidate
      v-for="item in condidateList"
      :key="item.id"
      :id="item.id"
      :url="item.url"
      :nbVote="item.nbVote"
      display="list"
      alt="cat with id {item.id}"/>
  </div>
</template>

<script>
import condidate from '@/components/atom/picture'
export default {
  components: {
    condidate
  },
  computed: {
    condidateList () {
      const listCats = this.$store.state.listCats
      console.log(listCats, 'listcats')
      return listCats.sort((a, b) => (a.nbVote < b.nbVote) ? 1 : -1)
    }
  }
}
</script>
