<template>
  <div id="app">
    <div class="header">
      <h1>CATSMASH</h1>
    </div>
    <router-view/>
  </div>
</template>

<script>
import store from '@/store/store'
export default {
  store,
  name: 'App',
  mounted () { }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 0;
  .header {
    background-color: #8C1B08;
    color: #fff;
    padding: 5px;
  }
}
</style>
